<div class="error-page">
  <div class="error-number"><%= t("errors.number_500") %></div>
  <div class="error-content"><%= t("errors.content_500") %></div>
  <%= link_to t("errors.back_home_page"), root_path, class: "back_home_page" %>
</div>
