<div class="error-page">
  <div class="error-number"><%= t("errors.number_404") %></div>
  <div class="error-content"><%= t("errors.content_404") %></div>
  <%= link_to t("errors.back_home_page"), root_path, class: "back-home-page" %>
</div>
