@import "bootstrap-sprockets";
@import "bootstrap";

/* application.html */
#alert-message {
  position: absolute;
  width: 100%;
}

.body-wrap {
  margin-top: 50px;
}

/* Error page */
.error-page {
  height: 100%;
  width: 100%;
  text-align: center;
}

.error-number {
  font-size: 5em;
}

.error-content {
  font-size: 2em;
}

.back-home-page {
  text-decoration: underline;
  font-size: 24px;
}

/* Custom */
.upload {
  display: none!important;
  visibility: hidden;
}

/* index.html */
.form-new {
  margin: 15px 0 0 600px;
  padding: 30px;
  font-size: 12px;
  position: fixed;
  border: 1px solid #888;
  width: 400px;
  z-index: 1000;
  background-color: white;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
}

.form-new > .width-md-30, .width-md-65, .width-md-45 {
  padding: 3px;
  margin: 3px;
}

.label-text {
  padding-top: 13px;
}

.button-show {
  float: right;
  font-size: 16px;
  margin-top: 10px;
}

.document-info {
  border: 1px solid #888;
  box-shadow: 1px 1px 1px 0;
  padding: 10px;
  margin: 10px 0 10px 0;
}
