@import "bootstrap-sprockets";
@import "bootstrap";

/* Headroom */
.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .2s ease-in-out;
}

.headroom--unpinned {
  top: -100px;
}

.headroom--pinned {
  top: 0;
}

/* Container */
.container {
  padding: 0;
}

.container-padding-8 {
  padding-left: 8%;
  padding-right: 8%;
}

.container-padding-5 {
  padding-left: 5%;
  padding-right: 5%;
}

.container-padding-3 {
  padding-left: 3%;
  padding-right: 3%;
}

.container-padding-10px {
  padding-left: 10px;
  padding-right: 10px;
}

.container-padding-20px {
  padding-left: 20px;
  padding-right: 20px;
}

.container-padding-30px {
  padding-left: 30px;
  padding-right: 30px;
}

/* Bootstrap */
.navbar {
  margin-bottom: 0;
}

/* Button */
.btn-default {
  position: relative;
  display: inline-block;
  padding: 10px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #666;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

.btn-success {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #569e3d;
  background-image: -webkit-linear-gradient(#79d858, #569e3d);
  background-image: linear-gradient(#79d858, #569e3d);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

.btn-success:hover {
  border-color: #4a993e;
}

.btn-primary {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #2f9e9e;
  background-image: -webkit-linear-gradient(#3CB0FD, #2f9e9e);
  background-image: linear-gradient(3CB0FD, #2f9e9e);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

.btn-primary:hover {
  border-color: #999;
}

/* application.html */
#alert-message {
  position: absolute;
  top: 10px;
  right: 20px;
}

.body-wrap {
  margin-top: 50px;
}

/* Custom */
.upload {
  display: none!important;
  visibility: hidden;
}
