<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  </div>
</header>

<script type="text/javascript">
  $(window).load(function() {
    var header = document.querySelector("header");
    var headroom = new Headroom(header, {offset : 205});
    headroom.init();
  });
</script>
